.imageContainer {
    position: relative;
    width: fit-content;
    height: fit-content;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .25s ease;
    background-color: #000000cc;
}

.imageContainer:hover .overlay {
    opacity: 1;
}

.titleText {
    width: 80%;
    font-size: 0.875rem;
    font-weight: bold;
    color: white;
}

.raiseText {
    top: 35%;
}