.gameTable {
    width: -webkit-fill-available;
    border-collapse: collapse;
    background-color: rgb(0, 0, 0, 0.7);
    margin: 16px 0;
}

.gameTable td {
    border: 1px solid;
    padding: 8px;
}

.gameTable th {
    border: 1px solid;
    padding: 16px;
    font-size: 1.1em;
    text-transform: uppercase;
}

.filters {
    display: flex;
    gap: 16px;
}

.dark-input {
    background-color: hsl(0, 0%, 20%) !important;
    border-color: #808080;
    color: #fff !important;
}

.dark-input::placeholder {
    color: #808080;
}

.vodCell {
    display: flex;
    flex-direction: column;
    text-decoration: underline;
}

.adminCell {
    display: flex;
    flex-direction: column;
    text-decoration: underline;
}

.br-div {
    height: 0.75em;
}

.color-icon {
    font-family: 'Noto Color Emoji';
}

.tag {
    border-radius: 16px;
    border: 1px solid;
    padding: 2px 8px;
    display: inline-block;
    text-transform: capitalize;
}