html,
body {
  padding: 0;
  margin: 0;
  font-family: DejaVu Sans, Arial, Helvetica, sans-serif;
  color: grey;
  background: url('/NJBG.jpg') no-repeat center center fixed;
  background-size: cover;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Bootstrap overrides */
body * {
  --bs-modal-bg: rgb(0, 46, 2);
  --bs-modal-color: #fff;
}

.modal-header .btn-close {
  display: none;
}