html,
body {
  padding: 0;
  margin: 0;
  font-family: DejaVu Sans, Arial, Helvetica, sans-serif;
  color: grey;
  background: url('/NJBG.jpg') no-repeat center center fixed;
  background-size: cover;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}