.container {
  width: 80%;
  max-width: 1500px;
  margin: 20px auto;
  padding: 10px;
}

.form {
  width: 100%;
}

.formItem {
  display: block;
  width: 100%;
  margin: 10px auto;
}

.formItem label {
  display: block;
}

.formItem input[type='text'] {
  display: block;
  width: 100%;
  padding: 10px;
}

.formItem textarea {
  display: block;
  width: 100%;
  padding: 10px;
}

.error {
  color: red;
}

.message {
  color: green;
}

.header {
  display: flex;
  align-items: center;
}

.header button {
  height: fit-content;
  margin-left: 16px;
}