.root {
    color: white;
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100vh;
}

.gameMeta {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 1rem 0rem 1rem;
    text-align: center;
    gap: 1rem
}

.gameMeta img {
    max-height: 45%;
    max-width: 90%;
    object-fit: scale-down;
    margin-bottom: 2rem;
}

.gameMeta h1 {
    font-size: 2.8em;
}

.gameMeta h2 {
    font-size: 2em;
    opacity: 75%;
}

.gameMeta .webcam {
    height: 30%;
}

.gameForm {
    display: flex;
    flex-direction: column;
    font-size: 2.5em;
    padding: 4rem 1rem;
    gap: 2rem;
}

.gameForm input {
    height: 2.8em;
    color: white;
    background: transparent;
    font-size: large;
}

.topRow {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.formFinished,
.formTimeSpent,
.formTags {
    display: flex;
    flex-direction: column;
}

.formFinished textarea,
.formTimeSpent textarea,
.formTags textarea {
    background: transparent;
    color: white;
    font-size: xx-large;
    resize: none;
    height: 4.5rem;
    padding: 0.5rem;
}

.comment {
    color: white;
    background: transparent;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.comment textarea {
    background: transparent;
    color: white;
    font-size: xx-large;
    resize: none;
    height: 100%;
    padding: 0.5rem;
}

.rating {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.saveControls {
    position: absolute;
    bottom: 0;
    right: 0;
}

.saveControls button {
    background-color: transparent;
    color: white;
}

.saveControls a:hover {
    color: inherit;
}
