.wrapper {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
    left: 50%;
    transform: translateX(-50%);
}

.innerCircle {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    font-weight: bolder;
}

.sector {
	position: absolute;
	transform-origin: 100% 100%;
	background: #ccc;
	width: 50px;
	height: 50px;
	left: 50%;
	top: 50%;
	margin-top: -50px;
	margin-left: -50px;
}