name: Playwright Tests
on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *' # runs daily at 00:00
jobs:
  test:
    environment: Preview
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0 # required to count the commits
    - name: Get new commits
      run: echo "NEW_COMMIT_COUNT=$(git log --oneline --since '24 hours ago' | wc -l)" >> $GITHUB_ENV
      if: ${{ env.NEW_COMMIT_COUNT > 0 }}
    - uses: actions/setup-node@v4
      with:
        node-version: lts/*
    - name: Install dependencies
      run: npm ci
    - name: Install Playwright Browsers
      run: npx playwright install --with-deps
    - name: Build app
      run: npm run build
      env:
        MONGODB_URI: ${{ secrets.MONGODB_URI }}
        DB_NAME: ${{ secrets.DB_NAME }}
        NEXTAUTH_SECRET: ${{ secrets.NEXTAUTH_SECRET }}
        NEXTAUTH_URL: ${{ secrets.NEXTAUTH_URL }}
        AUTH_TRUST_HOST: ${{ secrets.AUTH_TRUST_HOST }}
        APP_URL: ${{ secrets.APP_URL }}
    - name: Run app
      run: npm run start & npx wait-on http://localhost:3000
    - name: Run Playwright tests
      run: npx playwright test
    - uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30
