name: Playwright Tests
on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *' # runs daily at 00:00
jobs:
  test:
    environment: Preview
    timeout-minutes: 60
    runs-on: ubuntu-latest

    services:
      mongodb:
        image: mongo:8
        ports:
          - 27017:27017

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0 # required to count the commits

    - name: Get new commits
      run: echo "NEW_COMMIT_COUNT=$(git log --oneline --since '24 hours ago' | wc -l)" >> $GITHUB_ENV

      if: ${{ env.NEW_COMMIT_COUNT > 0 || github.event_name == 'workflow_dispatch' }}
    - uses: actions/setup-node@v4
      with:
        node-version: lts/*

    - name: Install dependencies
      run: npm ci

    - name: Setup mongodb-tools
      run: |
        wget https://fastdl.mongodb.org/tools/db/mongodb-database-tools-ubuntu2204-x86_64-100.6.1.deb
        sudo apt install ./mongodb-database-tools-*-100.6.1.deb
        mongorestore --version

    - name: Seed MongoDB
      run: |
        mongoimport --db test_db --collection games --drop --file tests/seed.json --jsonArray

    - name: Install Playwright Browsers
      run: npx playwright install --with-deps

    - name: Build app
      run: npm run build
      env:
        MONGODB_URI: mongodb://localhost:27017
        DB_NAME: test_db
        NEXTAUTH_SECRET: ${{ secrets.NEXTAUTH_SECRET }}
        NEXTAUTH_URL: ${{ secrets.NEXTAUTH_URL }}
        AUTH_TRUST_HOST: ${{ secrets.AUTH_TRUST_HOST }}
        APP_URL: ${{ secrets.APP_URL }}
        ADMIN_USER_NAME: ${{ secrets.ADMIN_USER_NAME }}

    - name: Run app
      run: npm run start & npx wait-on http://localhost:3000
      env:
        MONGODB_URI: mongodb://localhost:27017
        DB_NAME: test_db
        NEXTAUTH_SECRET: ${{ secrets.NEXTAUTH_SECRET }}
        NEXTAUTH_URL: ${{ secrets.NEXTAUTH_URL }}
        AUTH_TRUST_HOST: ${{ secrets.AUTH_TRUST_HOST }}
        APP_URL: ${{ secrets.APP_URL }}
        ADMIN_USER_NAME: ${{ secrets.ADMIN_USER_NAME }}

    - name: Run Playwright tests
      run: npx playwright test
      env:
        MONGODB_URI: mongodb://localhost:27017
        DB_NAME: test_db
        NEXTAUTH_SECRET: ${{ secrets.NEXTAUTH_SECRET }}
        NEXTAUTH_URL: ${{ secrets.NEXTAUTH_URL }}
        AUTH_TRUST_HOST: ${{ secrets.AUTH_TRUST_HOST }}
        APP_URL: ${{ secrets.APP_URL }}
        ADMIN_USER_NAME: ${{ secrets.ADMIN_USER_NAME }}

    - uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30
